$darkColor: #383838;
$grayColor: #f7f7f7;
$pinkColor: #d35266;
$whiteColor: #fff;
$font-helvetica: "helvetica-medium", "helvetica-light", "helvetica-bold", helvetica, arial, sans-serif;

$font-helvetica-light: "helvetica-light", "helvetica-medium", "helvetica-bold", helvetica, arial, sans-serif;

$font-helvetica-bold: "helvetica-bold", "helvetica-medium", "helvetica-light", helvetica, arial, sans-serif;

$font-gotham: "gotham-bold", "gotham-light", "helvetica-light", "helvetica-medium", "helvetica-bold", helvetica, arial, sans-serif;

$font-gotham-light: "gotham-light", "gotham-bold", "helvetica-light", "helvetica-medium", "helvetica-bold", helvetica, arial, sans-serif;
