$darkColor: #383838;
$grayColor: #888888;
$pinkColor: #d35266;
$whiteColor: #fff;
$font-gotham-light : font-gotham-light;
$font-helvetica : font-helvetica;
$font-helvetica-light : font-helvetica-light;