@import './variables';
@import './mixin';



//  GLOBAL

.font-gotham-light {
    font-family: $font-gotham-light;
  }
  
  .font-helvetica {
    font-family: $font-helvetica;
  }
  
  .font-helvetica-light {
    font-family: $font-helvetica-light;
  }

.white-color {
    color: $whiteColor;
}

.gray-color {
    color: $grayColor;
}

.bg-gray{
    background-color: $grayColor;
}

.pink-color {
    color: $pinkColor;
}

.bg-pink {
    color: $pinkColor;
}

body {
    max-width: 100%;
    font-family: $font-gotham-light;
}
// NAVIGATION
nav {
    background-color: $darkColor;
    .logo {
        width: 40px;
    }
    ul {
    @include flex();
    margin: 0 70px;
    button {
        border: 2px thin;
        padding: 10px;
        border-radius: 5px;
        background-color: $pinkColor;
    }
    a {
        @include flex();
        align-items: center;
        padding-right: 25px;
        &:hover {
            text-decoration: none;
        }   
    }

    .list-space {
    padding-right: 15px;
    }

    .fa-user-circle {
    font-size: 35px;
    }

    .list-height,
    .email {
    padding-top: 10px;
    }
    
    }
}

.hero-section {
    background-color: $pinkColor;
    height: 60vh;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
}

.search {
    @include flex();
    border: 5px thin white;
    border-radius: 10px;
}

.first-btn {
    display: flex;
}

.hero-text {
    @include flex();
    flex-direction: column;
    margin: 0 auto;
}

.emphasy
 {
    margin-left: 120px;
}

.search-area {
    @include flex();
    justify-content: center;
    padding: 10px;
}

.search-contents {
    padding: 15px;
}

.image-width {
    width: 50%;
    margin-left: 250px;
    margin-top: 20px;
}

.section-hot-ads {
    // border-bottom: 2px solid black;
    margin-bottom: 20px;
}

.ads-title {
    margin-left: 235px;
    margin-top: 20px;
    
}

.image-arrow {
    margin-left: 470px;
    
}
.btn-left {
    margin-left: 150px;
}

.btn-right {
    margin-left: 1150px;
}

.ads-name,.text-pink {
    color: $pinkColor;
}
.ads-contents {
    margin-right: 200px;
    margin-top: 20px;
}

.price {
    margin-top: 7px;
}
.purchase {
  border: 2px groove black;
  padding: 10px;
  background-color: $pinkColor;
}

// DISPLAY ITEMS MAIN SECTION
.display-items {
    border-top: 2px groove black;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    // background-color: #2196F3;
    padding: 50px;
    gap: 35px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    // padding: 10px;
    // font-size: 30px;
    // text-align: center;
  }

.shoe-image {
    width: 100%;
    height: 200px;
}
// .fit-image{
//     width: 100%;
//     object-fit: cover;
//     height: 300px; /* only if you want fixed height */
//     }

.plus-icon {
    font-size: 30px;
}

// Footer section
.footer-logo {
    width: 25%;
    margin: 0 auto;
}

.footer-logo-area {
    text-align: center;
}

.footer-heading {
    border-bottom: 1px solid $pinkColor;
}
.footer-categories {
    padding-left: 60px;
}

// SEARCH PAGE 

.search-hero-section {
    background-color: $pinkColor;
    height: 40vh;
}

.aside-section {
    margin-left: 100px;
    margin-right: 50px;
}

.aside-heading {
    margin-left: 40px;
}
.material-checkbox {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.main-section-search {
    background-color: #f6f6f6;
}

.carving-search {
    // border: 1px groove grey;
}

.carving-image {
    width: 230px;
    height: 210px;
}

.links-button {
    background-color: $whiteColor;
}

.number-2 {
    background-color: $pinkColor;
}

.footer-paragraph {
    border: 1px solid grey;
    text-align: center;
}

.footer-details {
    border: 1px hidden grey;
}

.social-icons {
    display: flex;
    align-items: flex-end;

}