@import './variables';
@import './mixin';

//  GLOBAL

.white-color {
    color: $whiteColor;
}

.gray-color {
    color: $grayColor;
}

.bg-gray{
    background-color: $grayColor;
}

.pink-color {
    color: $pinkColor;
}

.bg-pink {
    color: $pinkColor;
}
// NAVIGATION
nav {
    background-color: $darkColor;
    .logo {
        width: 40px;
    }
    ul {
    @include flex();
    margin: 0 70px;
    button {
        border: 2px thin;
        padding: 10px;
        border-radius: 5px;
        background-color: $pinkColor;
    }
    a {
        @include flex();
        align-items: center;
        padding-right: 25px;
        &:hover {
            text-decoration: none;
        }   
    }

    .list-space {
    padding-right: 15px;
    }

    .fa-user-circle {
    font-size: 35px;
    }

    .list-height,
    .email {
    padding-top: 10px;
    }
    
    }
}

.hero-section {
    background-color: $pinkColor;
    height: 60vh;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
}

.search {
    @include flex();
    border: 5px thin white;
    border-radius: 10px;
}

.first-btn {
    display: flex;
}

.hero-text {
    @include flex();
    flex-direction: column;
    margin: 0 auto;
}

.emphasy
 {
    margin-left: 120px;
}

.search-area {
    @include flex();
    justify-content: center;
    padding: 10px;
}

.search-contents {
    padding: 15px;
}

.image-width {
    width: 50%;
    margin-left: 250px;
    margin-top: 20px;
}

.ads-title {
    margin-left: 235px;
    margin-top: 20px;
    
}
.ads-contents {
    margin-right: 200px;
    margin-top: 20px;
}

.price {
    margin-top: 7px;
}
.purchase {
  border: 2px solid gray;
  padding: 10px;
  background-color: $pinkColor;
}
